In [2]:
import pandas as pd

In [3]:
df =pd.DataFrame({'date':range(1552194000, 1552212001, 3600)})

In [4]:
df

         date
0  1552194000
1  1552197600
2  1552201200
3  1552204800
4  1552208400
5  1552212000

In [7]:
pd.to_datetime(df.date, unit='s') #seconds

0   2019-03-10 05:00:00
1   2019-03-10 06:00:00
2   2019-03-10 07:00:00
3   2019-03-10 08:00:00
4   2019-03-10 09:00:00
5   2019-03-10 10:00:00
Name: date, dtype: datetime64[ns]

In [8]:
pd.to_datetime(df.date, unit='s').dt.tz_localize('UTC') 
# we convertted time to UTC and +00 shows the offset from UTC/GMT time

0   2019-03-10 05:00:00+00:00
1   2019-03-10 06:00:00+00:00
2   2019-03-10 07:00:00+00:00
3   2019-03-10 08:00:00+00:00
4   2019-03-10 09:00:00+00:00
5   2019-03-10 10:00:00+00:00
Name: date, dtype: datetime64[ns, UTC]

In [9]:
pd.to_datetime(df.date, unit='s').dt.tz_localize('UTC').dt.tz_convert('America/Chicago')
# from GMT to US Chicago time zone
# -06:00  shows the difference between Chiago and GMT

0   2019-03-09 23:00:00-06:00
1   2019-03-10 00:00:00-06:00
2   2019-03-10 01:00:00-06:00
3   2019-03-10 03:00:00-05:00
4   2019-03-10 04:00:00-05:00
5   2019-03-10 05:00:00-05:00
Name: date, dtype: datetime64[ns, America/Chicago]

In [20]:
# Pandas is aware of daylight saving time, for example after 2 am on March 10 (for this case)
# offset changes from -6 hr to -5 hr