## Q1 

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [1]:
import pandas as pd
import numpy as np

In [7]:
from functools import reduce

In [50]:
a = reduce (lambda x, y : (x+y) if (x>2),  range(10))

SyntaxError: invalid syntax (<ipython-input-50-9c6a6d4335bf>, line 1)

In [53]:
reduce(lambda x,y :  x+y if (x>0) [12,1221312,1231])

SyntaxError: invalid syntax (<ipython-input-53-28fff90d3c83>, line 1)

In [44]:
b = lambda x,y: x+y (if x == 3)

SyntaxError: invalid syntax (<ipython-input-44-13fa22caf835>, line 1)

In [57]:
reduce((lambda x,y : x+y if (1<2)), range(10))

SyntaxError: invalid syntax (<ipython-input-57-dd34a074e2c5>, line 1)

## Q2
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [58]:
reduce (lambda x,y : x+y, range(10))

45

In [61]:
a = [1,2,3,4,5]
map[lambda x,y : x+y, a]

TypeError: 'type' object is not subscriptable

In [62]:
0.1+0.2-0.3

5.551115123125783e-17

In [63]:
5+5-10

0

In [64]:
0.2+0.2-0.4

0.0

In [65]:
0.1+0.3-0.4

0.0

In [66]:
0.1+0.2-0.3

5.551115123125783e-17

In [67]:
mystring = 'Hello World'

In [68]:
mystring[0]

'H'

In [69]:
mystring[-1]

'd'

In [70]:
mystring[::-1]

'dlroW olleH'

In [71]:
mystring[2:]

'llo World'

In [72]:
mystring[:3]

'Hel'

In [73]:
mystring = 'abcdefghijk'

In [74]:
mystring[3:6]

'def'

In [75]:
mystring[1:3]

'bc'

In [76]:
mystring[::2]

'acegik'

In [77]:
mystring[::-1]

'kjihgfedcba'

In [78]:
mystring[2::2]

'cegik'

In [79]:
'hello world'[-2]

'l'

In [80]:
name ='Sama'

In [82]:
# name[0]= 'P'

In [84]:
last = name[1:]

In [85]:
'P' + last

'Pama'

In [86]:
x = 'Hello World'

In [93]:
x = x + ' it is beautiful'

In [94]:
x

'Hello World it is beautiful it is beautiful it is beautiful'

In [97]:
a = 'Serdar ' *4

In [98]:
a

'Serdar Serdar Serdar Serdar '

In [99]:
x = 'Hello World'

In [100]:
x.split()

['Hello', 'World']

In [101]:
x

'Hello World'

In [102]:
x.startswith('w')

False

In [103]:
x.upper()

'HELLO WORLD'

In [104]:
x.lower()

'hello world'

In [105]:
x.capitalize()

'Hello world'

In [108]:
x.split()[0][::-1]

'olleH'

In [110]:
x.split('o')

['Hell', ' W', 'rld']

In [111]:
print('hello')

hello

In [114]:
print('{}'.format('serdar'))

serdar

In [115]:
print ('This is a string {}'.format('INS'))

This is a string INS

In [117]:
print('The {1} {2} {0}'.format('fox', 'quick', 'brown'))

The quick brown fox

In [119]:
print('The {q} {b} {f}'.format(b='brown', f='fox', q='quick'))

The quick brown fox

In [120]:
result = 100/777

In [121]:
result

0.1287001287001287

In [129]:
print ('The result was {r:10.3f}'.format(r=result))
# White space birakir 10

The result was      0.129

In [128]:
print ('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [130]:
name = 'Jose'

In [133]:
print('Hello, his name is {name}')

Hello, his name is {name}

In [134]:
print(f'Hello, his name is {name}')
#bastaki f format seklindedir. Jose yi atar {} icine

Hello, his name is Jose

In [135]:
name = 'Sam'
age = 3

In [136]:
print (f'{name} is {age} years old')

Sam is 3 years old

In [140]:
print('{:_>20}'.format('test'))

________________test

In [141]:
print('{:>20}'.format('test'))

                test

In [139]:
print('{:_<10}'.format('test'))

test______

In [143]:
print('{:_^10}'.format('test'))

___test___

In [144]:
'{:.5}'.format('serdarbozo')

'serda'

In [145]:
'{:10.5}'.format('serdarbozo')

'serda     '

In [146]:
'{:4d}'.format(93)

'  93'

In [147]:
'{:04d}'.format(93)

'0093'

In [149]:
'{:^4d}'.format(93)

' 93 '

In [150]:
'{:+d}'.format(93)

'+93'

In [151]:
my_list=['serdar', 23, 45]

In [152]:
len(my_list)

3

In [154]:
my_list[0][::-1]

'radres'

In [155]:
a = ['one', 'tow']

In [156]:
new_list = my_list + a

In [158]:
new_list

['serdar', 23, 45, 'one', 'tow']

In [161]:
new_list[-1]=('two')

In [162]:
new_list

['serdar', 23, 45, 'one', 'two']

In [163]:
new_list.append(6)

In [164]:
new_list

['serdar', 23, 45, 'one', 'two', 6]

In [165]:
new_list.pop(2)

45

In [166]:
new_list

['serdar', 23, 'one', 'two', 6]

In [167]:
new_list.pop()

6

In [168]:
new_list

['serdar', 23, 'one', 'two']

In [169]:
new_list.pop(-1)

'two'

In [170]:
new_list.reverse()

In [171]:
new_list

['one', 23, 'serdar']

In [172]:
new_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [173]:
# pop default olarka son elemani cikarir
new_list.pop(2)

'serdar'

In [174]:
new_list.pop(0)

'one'

In [175]:
new_list.append(10,3,20,9)

TypeError: append() takes exactly one argument (4 given)

In [176]:
new_list.extend(10,2,45,6)

TypeError: extend() takes exactly one argument (4 given)

In [177]:
new_list.append(10)

In [178]:
new_list.append(3)

In [179]:
new_list.append(24)

In [180]:
new_list.sort()

In [181]:
new_list

[3, 10, 23, 24]

In [182]:
new_list.reverse()

In [183]:
new_list

[24, 23, 10, 3]

In [184]:
d = {'k1':100, 'k2':200, 'k3':300}

In [185]:
d['k1']

100

In [186]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [187]:
d.values()

dict_values([100, 200, 300])

In [188]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [189]:
d['k4']=400

In [190]:
d

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [191]:
t= ('a', 'b', 'a', 'b')

In [192]:
t.count('a')

2

In [193]:
t.index('a')

0

In [194]:
t.index('b')

1

In [195]:
myset = set()

In [196]:
myset.add(1)

In [197]:
myset

{1}

In [198]:
myset.add(2)

In [199]:
myset.add(1)

In [200]:
myset

{1, 2}

In [201]:
%%writefile myfile.txt
Hello this is a text file
tjhis is the second line
this is the third file

Writing myfile.txt

In [202]:
myfile = open('myfile.txt')

In [203]:
myfile= open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [204]:
pwd

'/Users/serdarbozoglan/Desktop/Python-Jupyter'

In [205]:
myfile =open('myfile.txt')

In [206]:
myfile.read()

'Hello this is a text file\ntjhis is the second line\nthis is the third file'

In [207]:
myfile.read()

''

In [208]:
myfile.seek(0)
#kursoru bas aalir okudu dosyada yoksa okudugunda bir sey dondurmez

0

In [209]:
myfile.read()

'Hello this is a text file\ntjhis is the second line\nthis is the third file'

In [210]:
contents = myfile.read()

In [211]:
contents

''

In [212]:
myfile.seek(0)

0

In [213]:
contents = myfile.readlines()

In [214]:
contents

['Hello this is a text file\n',
 'tjhis is the second line\n',
 'this is the third file']

In [215]:
myfile.close()

In [216]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.readline()

In [217]:
contents

'Hello this is a text file\n'

In [223]:
with open ('myfile.txt', mode='r+') as myfile:
    contents = myfile.readline()

In [224]:
contents

''

In [225]:
myfile.seek(0)

ValueError: I/O operation on closed file.

In [226]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [227]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [228]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [229]:
for a, b in mylist:
    print(a)

1
3
5
7

In [230]:
mylist.reverse()

In [231]:
for item in mylist:
    print(item)

(7, 8)
(5, 6)
(3, 4)
(1, 2)

In [232]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

In [233]:
for a,b,c in mylist:
    print(c)

3
6
9

In [234]:
d = {'k1':1, 'k2':2, 'k3':3}

In [235]:
for item in d:
    print(item)

k1
k2
k3

In [236]:
for key, value in d:
    print (value)

1
2
3

In [237]:
for value in d.values():
    print(value)

1
2
3

In [238]:
mystring='Serdar'

In [240]:
for letter in mystring:
    if letter=='e': # e'yi atlamak istiyoruz, continue gorunce dongunun basina doner
        continue
    print(letter)

S
r
d
a
r

In [241]:
for letter in mystring:
    if letter=='d': # d yi gorunce donguden cikar
        break
    print(letter)

S
e
r

In [243]:
for num in range(5): # 5 haric
    print(num)

0
1
2
3
4

In [246]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [248]:
range(0,11,2)

range(0, 11, 2)

In [249]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [252]:
index_count =0 
word='abcd'

In [253]:
for letter in 'abcd':
    print(f'At index {index_count} the letter is {letter}')

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d

In [254]:
for index, item in enumerate(word):
    print(index)
    print(item)

0
a
1
b
2
c
3
d

In [260]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,200]

In [262]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 200)

In [263]:
## enumerate ve zip birbirlerinin ziddidirlar
## zip te elemena sayilari esit olmazsa sadece esit sayidakilari zip eder

In [266]:
new_list = list(zip(mylist1, mylist2, mylist3))
new_list

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 200)]

In [272]:
for a,b,c in (new_list):
    print(a)
    print(b)
    print(c)

1
a
100
2
b
200
3
c
200

In [274]:
for index, item in enumerate (new_list):
    print (f'The index is {index} and the value is {item}')

The index is 0 and the value is (1, 'a', 100)
The index is 1 and the value is (2, 'b', 200)
The index is 2 and the value is (3, 'c', 200)

In [275]:
'x' in [1,2,3]

False

In [276]:
2 in [1,2,3]

True

In [278]:
'a' in 'a world'

True

In [279]:
'mykey' in {'mykey':123}

True

In [280]:
d= {'mykey':123}

In [281]:
123 in d.values()

True

In [282]:
123 in d.keys()

False

In [283]:
123 in d.items()

False

In [284]:
mylist = [10,20,30,40,50]

In [285]:
min(mylist)

10

In [288]:
max(mylist)

50

In [289]:
from random import shuffle

In [290]:
mylist = [1,2,3,4,5,6,7,8,9]

In [291]:
shuffle(mylist)

In [292]:
mylist

[8, 4, 1, 6, 9, 2, 3, 7, 5]

In [293]:
shuffle(mylist)

In [295]:
mylist

[8, 1, 6, 3, 5, 9, 2, 7, 4]

In [297]:
from random import randint
randint(0,100)

54

In [298]:
randint(20,50)

36

In [301]:
result = int(input('Enter number'))

Enter number20

In [302]:
mystring = 'hello'

In [303]:
mylist = []

In [306]:
for letter in mystring:
    mylist.append(letter)

In [307]:
mylist

['h', 'e', 'l', 'l', 'o']

In [308]:
[letter for letter in mystring]

['h', 'e', 'l', 'l', 'o']

In [311]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [315]:
mylist = [x**2  for x in range(11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [316]:
mylist = [x for x in range(0,11) if x%2==0]

In [318]:
mylist

[0, 2, 4, 6, 8, 10]

In [319]:
celcius = [0,10,20, 34.5]

In [320]:
fahrenheit = [((9/5)*temp +32) for temp in celcius]

In [321]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [322]:
## if else list comprehensionda kullanmak cok mantikli degil siralam degisiyor syntax in
results = [x if x % 2 ==0 else 'ODD' for x in range (0,11)]

In [324]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [327]:
mylist = []

for x in [2,4,6,]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [328]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [331]:
## readablity dusuk cok tercih edilmemeli
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [332]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [338]:
mylist = [1,2,3]

In [339]:
mylist.insert(3,5)

In [340]:
mylist

[1, 2, 3, 5]

In [350]:
def myfunc(a,b):
    #return 5% sum of a+b
    return sum((a,b))*0.05

In [351]:
myfunc(40,60)

5.0

In [353]:
def myfunc(a,b, c=0,d=0):
    #return 5% sum of a+b
    return sum((a,b,c,d))*0.05

In [354]:
myfunc(40,60,100)

10.0

In [361]:
def myfunc2(*args): # sinirsiz sayida parametre gonderebiliriz
    return sum(args) *0.05

In [362]:
myfunc2(40,60,100,1000,200,500)

95.0

In [363]:
def myfunc3(*args):
    for item in args:
        print(item)

In [364]:
myfunc3(10,300,400,200)

10
300
400
200

In [372]:
def  myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))

In [373]:
myfunc(fruit='apple', veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [374]:
def myfunc(*args, **kwargs):
    print (args)
    print (kwargs)
    print ('I like {} {}'.format(args[0], kwargs['food']))

In [375]:
myfunc(10,20,50, food='eggs', animal='cat')

(10, 20, 50)
{'food': 'eggs', 'animal': 'cat'}
I like 10 eggs

In [376]:
def square (num):
    return num**2

In [377]:
for item in map(square, [1,2,3,4,5]):
    print (item)

1
4
9
16
25

In [379]:
my_list = [1,2,3,4,5]
list1 = list(map(square, my_list))
list1

[1, 4, 9, 16, 25]

In [380]:
def check_even(num):
    return num%2==0

In [381]:
mynums= [1,2,3,4,5,6]

In [382]:
filter(check_even, mynums)

In [383]:
list(filter(check_even, mynums))

[2, 4, 6]

In [384]:
lambda num: num**2

In [386]:
list(map(lambda num: num**2, my_list))

[1, 4, 9, 16, 25]

In [394]:
list(filter(lambda x : x%2==0, mynums))

[2, 4, 6]

# Generator

In [395]:
# Generators more memory efficient instead of creating a list

def get_cubes(n):
    
    for i in range(n):
        yield i**3 # yield buradaki anahtar kelime, dikkat et rerun yok

In [397]:
get_cubes(10)

In [399]:
for x in get_cubes(10):
    print ((x))

0
1
8
27
64
125
216
343
512
729

In [400]:
list(get_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [401]:
# Fibonacci Series with generators

In [402]:
def get_fibonacci(n):
    a=1
    b=1
    
    for i in range(n):
        yield a
        a, b = b, a+b

In [403]:
for i in get_fibonacci(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [404]:
s = 'hello'

In [405]:
next(s)
#string uzzerinde direkt iterate edemeyiz

TypeError: 'str' object is not an iterator

In [406]:
s_iter = iter(s)
# iter function ile iter edebilriz

In [408]:
next(s_iter)

'h'

In [409]:
next(s_iter)

'e'

In [410]:
next(s_iter)

'l'

# Collections

# Counter

In [413]:
from collections import Counter

In [414]:
l = [1,2,2,2,2,1,1,1,1,2,2,2,2,23,3,34,4,5,56,6]

In [415]:
Counter(l)

Counter({1: 5, 2: 8, 23: 1, 3: 1, 34: 1, 4: 1, 5: 1, 56: 1, 6: 1})

In [416]:
s = 'asiashyisksdfksdfknbsskbksfhsksskiwy'
Counter(s)

Counter({'a': 2,
         's': 11,
         'i': 3,
         'h': 2,
         'y': 2,
         'k': 7,
         'd': 2,
         'f': 3,
         'n': 1,
         'b': 2,
         'w': 1})

In [417]:
s = 'How many times it happend in your life, life is so good many times'

In [418]:
Counter(s)

Counter({'H': 1,
         'o': 5,
         'w': 1,
         ' ': 13,
         'm': 4,
         'a': 3,
         'n': 4,
         'y': 3,
         't': 3,
         'i': 7,
         'e': 5,
         's': 4,
         'h': 1,
         'p': 2,
         'd': 2,
         'u': 1,
         'r': 1,
         'l': 2,
         'f': 2,
         ',': 1,
         'g': 1})

In [422]:
c= Counter(s.split())

In [423]:
c

Counter({'How': 1,
         'many': 2,
         'times': 2,
         'it': 1,
         'happend': 1,
         'in': 1,
         'your': 1,
         'life,': 1,
         'life': 1,
         'is': 1,
         'so': 1,
         'good': 1})

In [430]:
c.most_common(2)

[('many', 2), ('times', 2)]

In [431]:
c.most_common(2)[0][0]

'many'

In [425]:
sum(c.values()) # 14 words total

14

In [426]:
list(c)

['How',
 'many',
 'times',
 'it',
 'happend',
 'in',
 'your',
 'life,',
 'life',
 'is',
 'so',
 'good']

In [427]:
c.items()

dict_items([('How', 1), ('many', 2), ('times', 2), ('it', 1), ('happend', 1), ('in', 1), ('your', 1), ('life,', 1), ('life', 1), ('is', 1), ('so', 1), ('good', 1)])

# Defaultdict

In [435]:
from collections import defaultdict

In [436]:
d = defaultdict(lambda :0 )

In [437]:
d['k1'] # default deger 0 olarak belirlendiginden olamyan bir eleman sorgulansa da 0 degerini alir ve create edilmis oliur

0

In [438]:
d['k2']

0

In [439]:
d['k3'] = 5

In [440]:
d

defaultdict(<function __main__.<lambda>()>, {'k1': 0, 'k2': 0, 'k3': 5})

In [441]:
d.items()

dict_items([('k1', 0), ('k2', 0), ('k3', 5)])

# OrderedDict

In [443]:
from collections import OrderedDict

In [453]:
d = dict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [456]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [458]:
for k,v in d.items():
    print (k,v) # Burada sira duzgun gorunse de her zaman oyle olmayabilir

a 1
b 2
c 3
d 4
e 5

In [459]:
d = OrderedDict() # Itemlarin eklenme sirasinina gore order eder, value a gore degil DIKKAT

In [460]:
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [461]:
for k,v in d.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [462]:
d['a'] = 1
d['c'] = 3
d['b'] = 2
d['e'] = 5
d['d'] = 4

In [463]:
for k,v in d.items():
    print (k,v)
# Goruldugu gibi eklenme sirasina gore veriyor

a 1
b 2
c 3
d 4
e 5

In [467]:
e1 = dict ()

In [468]:
e1['first']  = 1
e1['second'] = 2

In [469]:
e2 = dict()

In [472]:
e2['second'] = 2
e2['first'] = 1

In [473]:
e1==e2 
# Klasik dict elemanlarin eklenme sirasini goz ardi ettiginden e1 ve e2 yi equal kabul eder

True

In [474]:
e1 = OrderedDict()
e2 = OrderedDict()

In [476]:
e1['first']  = 1
e1['second'] = 2
e2['second'] = 2
e2['first'] = 1

In [477]:
e1==e2
# Farkli sirada eklendigi icin e1 ve e2 yi farkli olarak kabul eder

False

# namedtuple

In [478]:
t = (1,2,3)

In [479]:
t[0]

1

In [480]:
from collections import namedtuple

In [481]:
Dog = namedtuple('Dog', 'age breed name')

In [482]:
sam =  Dog(age=2, breed='Lab', name='Sammy')

In [483]:
sam

Dog(age=2, breed='Lab', name='Sammy')

In [484]:
sam[0]

2

In [485]:
sam[1]

'Lab'

In [486]:
sam.age

2

In [487]:
sam.breed

'Lab'

In [488]:
Cat = namedtuple('Cat', 'fur, claws name')

In [489]:
c = Cat(fur ='Fuzzy', claws='False', name='Kitty')

In [490]:
c

Cat(fur='Fuzzy', claws='False', name='Kitty')

In [491]:
c.name

'Kitty'

# Datetime

In [497]:
import datetime

In [498]:
t = datetime.time(5,25,1)

In [499]:
print (t)

05:25:01

In [500]:
t.hour

5

In [501]:
t.minute

25

In [503]:
print(datetime.time.min)

00:00:00

In [504]:
print(datetime.time.max)

23:59:59.999999

In [506]:
print(datetime.time.resolution)

0:00:00.000001

In [508]:
today = datetime.date.today()

In [510]:
print (today)

2018-08-19

In [511]:
today.timetuple()

time.struct_time(tm_year=2018, tm_mon=8, tm_mday=19, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=231, tm_isdst=-1)

In [512]:
today.month

8

In [513]:
today.day

19

In [515]:
print (datetime.date.min)

0001-01-01

In [516]:
print (datetime.date.max)

9999-12-31

In [517]:
print (datetime.date.resolution)

1 day, 0:00:00

In [518]:
d1 =datetime.date(2018,3,14)

In [520]:
print (d1)

2018-03-14

In [521]:
d2 = d1.replace(year=2020)

In [522]:
print(d2)

2020-03-14

In [524]:
print (d2-d1)

731 days, 0:00:00

# Regular Ex

In [525]:
import re

In [526]:
patterns = ['term1', 'term2']

In [528]:
text= 'This is a string with term1, but not the other term'

In [531]:
match = re.search(patterns[0], text)

In [532]:
type(match)

_sre.SRE_Match

In [534]:
match.start()

22

In [535]:
match.end()

27

In [536]:
split_term = '@'

In [537]:
phrase = 'What is your email, is it hello@gmail.com'

In [538]:
re.split(split_term, phrase) # regex ile bolme

['What is your email, is it hello', 'gmail.com']

In [539]:
phrase.split('@') # normal split ile de ayni sekilde bolebilirsin

['What is your email, is it hello', 'gmail.com']

In [540]:
re.findall('match', 'Here is one match, her is another match')

['match', 'match']

In [549]:
%magic

In [547]:
donothing(10)

(10,)

In [550]:
print(ln)

NameError: name 'ln' is not defined

In [551]:
print(_)

(10,)

In [552]:
print(_)

(10,)

In [553]:
%history

import pandas as pd
import numpy as np
reduce((lambda x, y : reduce (x+y) (x % 3 =0 or y % 5 =0) for x in range(1000) )
reduce((lambda x, y : reduce (x+y) (x % 3 =0) for x in range(1000) )
reduce((lambda x, y : reduce (x+y) (x % 3 =0) for x in range(1000) ))
reduce((lambda x, y : reduce (x+y)for x in range(1000)))
reduce((lambda x, y : np.reduce(x+y)for x in range(1000)))
from functools import reduce
reduce((lambda x, y : np.reduce(x+y)for x in range(1000)))
((lambda x, y : np.reduce(x+y)for x in range(1000)))
a = ((lambda x, y : np.reduce(x+y)for x in range(1000)))
a
a = reduce ((lambda x, y : (x+y) , for x in range(1000)))
a = reduce ((lambda x, y : (x+y) , range(1000)))
a = reduce ((lambda x, y : (x+y)) , range(1000)))
a = reduce ((lambda x, y : (x+y)) , range(1000))
a
a = reduce ((lambda x, y : (x+y) if (x%3=0)) , range(1000))
a = reduce ((lambda x, y : (x+y) if (x%3=0) , range(1000))
a = reduce ((lambda x, y : (x+y) if (x%3==0) , range(1000))
a = reduce ((lambda x, y : (x+y) if (x%3==0)) , range(1000))
a = reduce ((lambda x, y : (x+y) if (x % 3 == 0)) , range(1000))
a = reduce ((lambda x, y : (x+y) if (x > 0)) , range(1000))
a = reduce (lambda x, y : (x+y) if (x > 0) , range(1000))
a = reduce (lambda x, y : (x+y)  , range(1000))
a
a = reduce (lambda x, y : (x+y) if x>1 , range(1000))
a = reduce (lambda x, y : (x+y) if x>1 , [1,2,3,4])
a = reduce (lambda x, y : (x+y) if x>1  [1,2,3,4])
a = reduce (lambda x, y : (x+y) if x>1)  [1,2,3,4])
a = reduce (lambda x, y : (x+y) if x>1),  [1,2,3,4])
a = reduce ((lambda x, y : (x+y) if x>1),  [1,2,3,4])
a = reduce ((lambda x, y : (x+y) if x>1),  [1,2,3,4])
b = lambda x,y: x+y if (x %3 ==0)
b = lambda x,y: x+y if x %3 ==0
b = lambda x,y: x+y if x %3 =0
b = lambda x,y: x+y if x %3 == 0
b = lambda x,y: x+y (if x % 3 == 0)
b = lambda x,y: x+y, (if x % 3 == 0)
b = lambda x,y: x+y (if x ==3)
b = lambda x,y: x+y (if x ==
                     3 )
b = lambda x,y: x+y (if x == 3 )
b = lambda x,y: x+y (if x ==3 )
b = lambda x,y: x+y (if x ==3)
b = lambda x,y: x+y (if x == 3)
a = reduce ((lambda x, y : (x+y) if x>1,  [1,2,3,4])
a = reduce (lambda x, y : (x+y) if x>1,  [1,2,3,4])
a = reduce (lambda x, y : (x+y) if x>1,  range(10))
a = reduce (lambda x, y : (x+y),  range(10))
a
a = reduce (lambda x, y : (x+y) if (x>2),  range(10))
reduce(lambda x,y :  x+y if (x>0), range(10))
reduce(lambda x,y :  x+y if (x>0) range(10))
reduce(lambda x,y :  x+y if (x>0) [12,1221312,1231])
reduce(lambda x,y : x+y, range(10))
reduce(lambda x,y : x+y if 1<2, range(10))
reduce(lambda x,y : x+y if (1<2), range(10))
reduce((lambda x,y : x+y if (1<2)), range(10))
reduce (lambda x,y : x+y, range(10))
a = range(10)
map[lambda x,y : x+y, a]
a = range(10)
map[lambda x,y : x+y, range(10)]
a = [1,2,3,4,5]
map[lambda x,y : x+y, a]
0.1+0.2-0.3
5+5-10
0.2+0.2-0.4
0.1+0.3-0.4
0.1+0.2-0.3
mystring = 'Hello World'
mystring[0]
mystring[-1]
mystring[::-1]
mystring[2:]
mystring[:3]
mystring = 'abcdefghijk'
mystring[3:6]
mystring[1:3]
mystring[::2]
mystring[::-1]
mystring[2::2]
'hello world'[-2]
name ='Sama'
 name[0]= 'P'
# name[0]= 'P'
name[1:]
last = name[1:]
'P' + last
x = 'Hello World'
x + 'it is beautiful'
x + ' it is beautiful'
x = x + ' it is beautiful'
x
x = x + ' it is beautiful'
x
x = x + ' it is beautiful'
x
a = 'Serdar' *4
a
a = 'Serdar ' *4
a
x = 'Hello World'
x.split()
x
x.startswith('w')
x.upper()
x.lower()
x.capitalize()
x.split()[0]
x.split()[0][0]
x.split()[0][::-1]
x.split(o)
x.split('o')
print('hello')
print({}.format('serdar'))
print('{}.format('serdar'))
print('{}'.format('serdar'))
print ('This is a string {}'.format('INS'))
print('The {2} {3} {1}'.format('fox', 'quick', 'brown'))
print('The {1} {2} {0}'.format('fox', 'quick', 'brown'))
print('The {q}{b}{f}'.format(b='brown', f='fox', q='quick'))
print('The {q} {b} {f}'.format(b='brown', f='fox', q='quick'))
result = 100/777
result
print ('The result was {r}'.fromat(r=result))
print ('The result was {r}'.format(r=result))
print ('The result was {r:1.3}'.format(r=result))
print ('The result was {r:1.3f}'.format(r=result))
print ('The result was {r:100.3f}'.format(r=result))
print ('The result was {r:10.3f}'.format(r=result))
print ('The result was {r:1.3f}'.format(r=result))
print ('The result was {r:10.3f}'.format(r=result))
# White space birakir 10
name = 'Jose'
print('Hello, his name is {name}')
print(f'Hello, his name is {name}')
print('Hello, his name is {name}')
print(f'Hello, his name is {name}')
name = 'Sam'
age = 3
print (f'{name} is {age} years old')
print('{:>10}'.format('test'))
print('{:>20}'.format('test'))
print('{:_<10}'.format('test'))
print('{:_>20}'.format('test'))
print('{:>20}'.format('test'))
print('{:^10}'.format('test'))
print('{:_^10}'.format('test'))
'{:.5}'.format('serdarbozo')
'{:10.5}'.format('serdarbozo')
'{:4d}'.format(93)
'{:04d}'.format(93)
'{:_4d}'.format(93)
'{:^4d}'.format(93)
'{:+d}'.format(93)
my_list=['serdar', 23, 45]
len(my_list)
my_list[0]
my_list[0][::-1]
a = ['one', 'tow']
new_list = my_list + a
new
new_list
new_list.replace('tow', 'two')
new_list[-1]=(two')
new_list[-1]=('two')
new_list
new_list.append(6)
new_list
new_list.pop(2)
new_list
new_list.pop()
new_list
new_list.pop(-1)
new_list.reverse()
new_list
new_list.sort()
new_list.pop(2)
new_list.pop(0)
new_list.append(10,3,20,9)
new_list.extend(10,2,45,6)
new_list.append(10)
new_list.append(3)
new_list.append(24)
new_list.sort()
new_list
new_list.reverse()
new_list
d = {'k1':100, 'k2':200, 'k3':300}
d['k1']
d.keys()
d.values()
d.items()
d['k4']=400
d
t= ('a', 'b', 'a', 'b')
t.count('a')
t.index('a')
t.index('b')
myset = set()
myset.add(1)
myset
myset.add(2)
myset.add(1)
myset
%%writefile myfile.txt
Hello this is a text file
tjhis is the second line
this is the third file
myfile = open('myfile.txt')
myfile= open('whoops_wrong.txt')
pwd
myfile =open('myfile.txt')
myfile.read()
myfile.read()
myfile.seek(0)
myfile.read()
contents = myfile.read()
contents
myfile.seek(0)
contents = myfile.readlines()
contents
myfile.close()
with open('myfile.txt') as my_new_file:
    contents = my_new_file.readline()
contents
with open ('myfile.txt', mode='r') as myfile:
    contents = myfile.read()
contents
with open ('myfile.txt', mode='r') as myfile:
    contents = myfile.readline()
contents
with open ('myfile.txt', mode='w') as myfile:
    contents = myfile.readline()
with open ('myfile.txt', mode='r+') as myfile:
    contents = myfile.readline()
contents
myfile.seek(0)
mylist = [(1,2), (3,4), (5,6), (7,8)]
for item in mylist:
    print(item)
for a,b in mylist:
    print(a)
    print(b)
for a, b in mylist:
    print(a)
mylist.reverse()
for item in mylist:
    print(item)
mylist = [(1,2,3), (4,5,6), (7,8,9)]
for a,b,c in mylist:
    print(c)
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)
for key, value in d:
    print (value)
for value in d.values():
    print(value)
mystring='Serdar'
for letter in mystring:
    if letter='e':
        continue
    print(letter)
for letter in mystring:
    if letter=='e':
        continue
    print(letter)
for letter in mystring:
    if letter=='d':
        break
    print(letter)
for num in range(10):
    print(num)
for num in range(5):
    print(num)
for num in range(0,6,2):
    print(num)
for num in range(0,10,2):
    print(num)
for num in range(0,11,2):
    print(num)
range(0,11,2a)
range(0,11,2)
list(range(0,11,2))
index_count =0
for letter in 'abcd':
    print(f'At index {index_count} the letter is {letter}')
index_count =0
word='abcd'
for letter in 'abcd':
    print(f'At index {index_count} the letter is {letter}')
for index, item in enumerate(word):
    print(index)
    print(item)
mylist1 = [1,2,3]
mylist2=['a', 'b', 'c']
for item in zip(mylist1, mylist2):
    print(item)
## enumerate ve zip birbirlerinin ziddidirlar
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist2 = [100,200,200]
for item in zip(mylist1, mylist2):
    print(item)
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,200]
for item in zip(mylist1, mylist2):
    print(item)
for item in zip(mylist1, mylist2, mylist3):
    print(item)
## enumerate ve zip birbirlerinin ziddidirlar
## zip te elemena sayilari esit olmazsa sadece esit sayidakilari zip eder
list(zip(mylist1, mylist2, mylist3))
new_list = list(zip(mylist1, mylist2, mylist3))
new_list = list(zip(mylist1, mylist2, mylist3))
new_list
for a,b,c in enumerate(new_list):
    print(a)
    print(b)
    print(c)
for a,b,c in enumerate(new_list):
    print(a)
    print(b)
   # print(c)
for a,b,c in enumerate(new_list):
    print(a)
    print(b)
   # print(c)
for a,b,c in (new_list):
    print(a)
    print(b)
   # print(c)
for a,b,c in (new_list):
    print(a)
    print(b)
   print(c)
for a,b,c in (new_list):
    print(a)
    print(b)
    print(c)
for index, item in enumerate (new_list):
    print (f'The index is {index} and the value is {value}')
for index, item in enumerate (new_list):
    print (f'The index is {index} and the value is {item}')
'x' in [1,2,3]
2 in [1,2,3]
a in 'world'
'a' in 'a world'
'mykey' in {'mykey':123}
d= {'mykey':123}
123 in d.values()
123 in d.keys()
123 in d.items()
mylist = [10,20,30,40,50]
min(mylist)
max(mulist)
max(mYlist)
max(mylist)
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
mylist
shuffle(mylist)
my_list
mylist
randint(0,100)
from random import randint
randint(0,100)
randint(20,50)
input('Enter number')
result = int(input('Enter number'))
result = int(input('Enter number'))
mystring = 'hello'
mylist = []
for letter in ystring:
    mylsit.append(letter)
for letter in ystring:
    mylist.append(letter)
for letter in mystring:
    mylist.append(letter)
mylist
[letter for letter in mystring]
mylist = [z for x in 'word']
mylist = [x for x in 'word']
mylist = [x for x in 'word']
mylist
mylist = [x in for x in range(11)]
mylist = [x  for x in range(11)]
mylist = [x  for x in range(11)]
mylist
mylist = [x**2  for x in range(11)]
mylist
mylist = [x for x in range(0,11) if x%2==0]
mylIST
mylist
celcius = [0,10,20, 34.5]
fahrenheit = [((9/5)*temp +32) for temp in celcius]
fahrenheit
results = [x if x % 2 ==0 else 'ODD' for x in range (0,11)]
resluts
results
mylist = []

for x in [2,4,6,]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist
mylist = []

for x in [2,4,6,]:
    for y in [1,10,1000]:
        mylist.append(x*y)
mylist
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist
## readablity dusuk cok tercih edilmemeli
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist
mylist = [1,2,3]
mylist.insert(3,4)
mylist
mylist.insert(3,5)
mylist
mylist = [1,2,3]
mylist.insert(3,5)
mylist
def myfunc(a,b):
    #return 5% sum of a+b
    return (sum(a+b)*0.05)
myfunc(40,60)
def myfunc(a,b):
    #return 5% sum of a+b
    return (sum(a+b))*0.05)
def myfunc(a,b):
    #return 5% sum of a+b
    return (sum(a+b))*0.05
myfunc(40,60)
def myfunc(a,b):
    #return 5% sum of a+b
    return sum(a+b)*0.05
myfunc(40,60)
def myfunc(a,b):
    #return 5% sum of a+b
    return sum((a+b))*0.05
myfunc(40,60)
def myfunc(a,b):
    #return 5% sum of a+b
    return sum((a,b))*0.05
myfunc(40,60)
def myfunc(a,b, c=0):
    #return 5% sum of a+b
    return sum((a,b,c))*0.05
def myfunc(a,b, c=0,d=0):
    #return 5% sum of a+b
    return sum((a,b,c,d))*0.05
myfunc(40,60,100)
def myfuc(*args):
    return sum(args) *0.05
myfunc(40,60,100,1000,200,500)
def myfuc(*args):
    return sum(args) *0.05
myfunc(40,60,100,1000,200,500)
def myfuc2(*args):
    return sum(args) *0.05
myfunc2(40,60,100,1000,200,500)
def myfunc2(*args):
    return sum(args) *0.05
myfunc2(40,60,100,1000,200,500)
def myfunc3(*args):
    for item in args:
        print(item)
myfunc3(10,300,400,200)
def  myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(fruit))
myfunc(fruit='applea')
myfunc(fruit='apple', veggie='lettuce')
def  myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs[fruit]))
myfunc(fruit='apple', veggie='lettuce')
def  myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
myfunc(fruit='apple', veggie='lettuce')
def  myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
myfunc(fruit='apple', veggie='lettuce')
def myfunc(*args, **kwargs):
    print (args)
    print (kwargs)
    print ('I like {} {}'.format(args[0], kwargs['food']))
myfunc(10,20,50, food='eggs', animal='cat')
def square (num):
    return num**2
for item in map(square, [1,2,3,4,5]):
    print (item)
my_list = [1,2,3,4,5]
list1 = map(square, my_list)
list1
my_list = [1,2,3,4,5]
list1 = list(map(square, my_list))
list1
def check_even(num):
    return num%2==0
mynums= [1,2,3,4,5,6]
filter(check_even, mynums)
list(filter(check_even, mynums))
lambda num: num**2
list(map(lambda num: num**2), my_list)
list(map(lambda num: num**2, my_list))
lits(filter(lambda x : x%2==0, mynums)))
lits(filter(lambda x : x%2==0, mynums))
lits(filter(lambda x : x if x%2==0, mynums))
lits(filter(lambda x : x if x%2==0, mynums))
lits(filter(lambda x : x%2==0, mynums))
list(filter(lambda x : x%2==0, mynums))
list(filter(lambda x : x if x%2==0, mynums))
list(filter(lambda x : x%2==0, mynums))
# Generators more memory efficient instead of creating a list

def get_cubes(n):

    for i in range(n):
        yield i**3
get_cube(10)
get_cubes(10)
for x in range(10):
    print (get_cubes(x))
for x in get_cubes(10):
    print ((x))
list(get_cubes(10))
# Fibonacci Series
def get_fibonacci(n):
    a=1
    b=1

    for i in range(n):
        yield a
        a, b = b, a+b
for i in get_fibonacci(10):
    print(i)
s = 'hello'
next(s)
s_iter = iter(s)
next(s)
next(s_iter)
next(s_iter)
next(s_iter)
## Collections
from collections from Counter
from collections import Counter
l = [1,2,2,2,2,1,1,1,1,2,2,2,2,23,3,34,4,5,56,6]
Counter(l)
s = 'asiashyisksdfksdfknbsskbksfhsksskiwy'
Counter(s)
s = 'How many times it happend in your life, life is so good many times'
Counter(s)
s.split()
Counter(s)
Counter(s.split())
c= Counter(s.split())
c
c.most_common(2)
sum(c.values())
list(c)
c.items()
c.most_common(2)[0]
c.most_common(2)[0][0]
c.most_common(2)
c.most_common(2)[0][0]
# Defaultdict
d = defaultdict(lambda :0 )
from collections import defaultdcit
from collections import defaultdict
d = defaultdict(lambda :0 )
d['k1']
d['k2']
d['k3'] = 5
d
d.items()
from collections import ordereddict
from collections import OrderedDict
d = dict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d = dict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5
print k,v in d.items():
    print k, v
print k,v in d.items():
    print (k, v)
print k,v in d.items():
    print (k)
for k,v in d.items():
    print (k,v)
d = dict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5
for k,v in d.items():
    print (k,v)
d
d = dict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5
d
for k,v in d.items():
    print (k,v)
d
for k,v in d.items():
    print (k,v)
for k,v in d.items():
    print (k,v) # Burada sira duzgun gorunse de her zaman oyle olmayabilir
d = OrderedDict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5
for k,v in d.items():
    print (k,v)
d['a'] = 1
d['c'] = 3
d['b'] = 2
d['e'] = 5
d['d'] = 4
for k,v in d.items():
    print (k,v)
e = dict
e = dict ()
e['first']  = 1
e['second'] = 2
e1 = dict ()
e1['first']  = 1
e1['second'] = 2
e2 = dict()
e2['second'] = 2
e1['first'] = 1
e1==e2
e2['second'] = 2
e2['first'] = 1
e1==e2
e1 = OrderedDict()
e2 = OrderedDict()
e1['first']  = 1
e1['second'] = 2
e1['first']  = 1
e1['second'] = 2
e2['second'] = 2
e2['first'] = 1
e1==e2
t = (1,2,3)
t[0]
from collections import namedtuple
Dog = namedtuple('Dog', 'age breed name')
sam =  Dog(age=2, breed='Lab', name='Sammy')
sam
sam[0]
sam[1]
sam.age
sam.breed
Cat = namedtuple('Cat', 'fur, claws name')
c = Cat(fur ='Fuzzy', claws='False', name='Kitty')
c
c.name
import datatime
import datetime
datetime.time(5,25,1)
t
print (t)
import datetime
t = datetime.time(5,25,1)
print (t)
t.hour
t.minute
datetime.time.min
print(datetime.time.min)
print(datetime.time.max)
print(datetime.time.resolutuin)
print(datetime.time.resolution)
today = datetiem.date.today()
today = datetime.date.today()
print today
print (today)
today.timetuple()
today.month
today.day
datetime.date.min
print (datetime.date.min)
print (datetime.date.max)
print (datetime.date.resolution)
d1 =datetime.date(2018,3,14)
d1
print (d1)
d2 = d1.replace(year=2020)
print(d2)
d2-d1
print (d2-d1)
import re
patterns = ['term1', 'term2']
tetx= 'This is a string with term1, but not the other term'
text= 'This is a string with term1, but not the other term'
re.search(patterns[0], text)
print(re.search(patterns[0], text))
match = re.search(patterns[0], text)
type(match)
match.sstar()
match.start()
match.end()
split_term = '@'
phrase = 'What is your email, is it hello@gmail.com'
re.split(split_term, phrase)
phrase.split('@')
re.findall('match', 'Here is one match, her is another match')
def donothing(*args):
    return args
donothings(10)
donothing(10)
def donothing(*args):
       return args
donothing(10)
def donothing(*args):
           return args
donothing(10)
%magic
%magic
print(ln)
print(_)
print(_)
%history

In [554]:
_

(10,)

In [555]:
%cd

/Users/serdarbozoglan

In [556]:
%cd..

UsageError: Line magic function `%cd..` not found.

In [557]:
pwd

'/Users/serdarbozoglan'

In [558]:
%xmode

Exception reporting mode: Verbose

In [559]:
import random
import numpy as np

In [566]:
x=np.random.random(4)

In [570]:
x

array([ 0.56223542,  0.10627848,  0.69382725,  0.41909298])

In [569]:
x.reshape(4,-1)

array([[ 0.56223542],
       [ 0.10627848],
       [ 0.69382725],
       [ 0.41909298]])

## Pythonic way

In [1]:
name = 'Serdar'
age =36

In [13]:
print('You are {y} years old {x}, right {y}'.format(x=name, y=age))

You are 36 years old Serdar, right 36

In [4]:
data = {'name':name, 'age':age}

In [5]:
print('Hello my age is {age} and my name is {name}'.format(**data))

Hello my age is 36 and my name is Serdar

In [14]:
print(f'Hello my age is {age} and my name is {name}')

Hello my age is 36 and my name is Serdar

## Merging Dictionaries

In [50]:
route ={'id':271, 'title':'Fast apps'}
query = {'id2':1, 'render_fast':True}
post={'email':'j@j.com', 'name':'Jeff'}

In [51]:
merged = {}
merged.update(query)
merged.update(post)
merged.update(post)

In [52]:
merged

{'id2': 1, 'render_fast': True, 'email': 'j@j.com', 'name': 'Jeff'}

In [53]:
merged2 = dict()

In [54]:
merged2(**route, **query, **post)

TypeError: 'dict' object is not callable

## Tuples

In [58]:
#t = (1.2, 9.3, 87, .8)
t = 1.2, 9.3, 87, .8 # bnu da tuple olarak kabul eder

In [59]:
print(t[3])

0.8

In [63]:
x, y, z, a = t # unpacking

In [62]:
print(x,y,z)

1.2 9.3 87

In [64]:
r,s,m = t # esit dayida elemana atama yapmazsan hata verir

ValueError: too many values to unpack (expected 3)

In [65]:
r,s, _, m = t # onemsemedigin elemanin yerine _ ata, hata vermez

In [66]:
 n = [1,4,6,8,9,12,20]

In [68]:
for index, value in enumerate(n): # enumerate index ve value ye ulasmamizi saglar
    print (f'{index} --> {value}')

0 --> 1
1 --> 4
2 --> 6
3 --> 8
4 --> 9
5 --> 12
6 --> 20

In [69]:
print (x , y)

1.2 9.3

In [72]:
y, x = x, y # swap
print(x ,y )

9.3 1.2

In [74]:
p1 = {"name":['Serdar', 'Hasan', "Ahmet"], 'age':[32, 24, 35]}

In [76]:
import pandas as pd

In [77]:
df =pd.DataFrame(p1)

In [114]:
df

   age    name
2   35   Ahmet
0   32  Serdar
1   24   Hasan

In [115]:
for index, value in df.iterrows(): # enumarate in df teki versiyonu iterrow() index ve value ya ulasmamiz saglar
    print (f'index {index} has name {value["name"]}')

index 2 has name Ahmet
index 0 has name Serdar
index 1 has name Hasan

In [116]:

df_sorted = df.sort_values('age', ascending=False).copy()

In [117]:
df_sorted.head()

   age    name
2   35   Ahmet
0   32  Serdar
1   24   Hasan

In [118]:
new_index = ['person1', 'person2', 'person3']

In [119]:
new_index

['person1', 'person2', 'person3']

In [124]:
df_sorted.rename(index=new_index)

TypeError: 'list' object is not callable

In [123]:
df_sorted

   age    name
2   35   Ahmet
0   32  Serdar
1   24   Hasan

In [125]:
# df.reindex([4,3,2]])veya de.reindex(columns=['name', 'age']) satir ve stunlarin siralamasini degisitir. Ornegin

In [128]:
df_sorted.reindex([1,2,0]) # 1,2 ve 0 sirasiyla satilari siralar

   age    name
1   24   Hasan
2   35   Ahmet
0   32  Serdar

In [130]:
df_sorted.reindex(columns=['name', 'age']) # sutunlarin sirasini degistirir

     name  age
2   Ahmet   35
0  Serdar   32
1   Hasan   24

In [572]:
list1 = ['ahmet', 'hassan',]

In [573]:
list1

['ahmet', 'hassan']

In [579]:
list1.append('zek',)

In [580]:
list1

['ahmet', 'hassan', 'meryem', 'meryem', 'zek']

In [581]:
from random import choice

In [582]:
choice(list1)

'zek'

TypeError: 'str' object is not an iterator

In [584]:
iter_list = iter(list1)

In [585]:
next(iter_list)

'ahmet'

In [588]:
num_list = [i for i in range(100)]

In [591]:
choice(num_list)

74

In [593]:
choice([i for i in range(100)])

66

In [601]:
from vectors import Point, Vector

In [603]:
v1 = Vector(2,4,5)
v2 = Vector(3,5,6)

In [606]:
v1.sum(v2)

Vector(5.0, 9.0, 11.0)

In [609]:
v4 = Vector(3,4,0)

In [611]:
x = 'ABC'

In [612]:
dummy = [ord(x) for x in x]

In [613]:
dummy

[65, 66, 67]

In [614]:
x

'ABC'

In [618]:
colors = ['black', 'white']

In [619]:
sizes = ['S', 'M', 'L']

In [621]:
tshirts = [(color, size) for color in colors for size in sizes]

In [622]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [623]:
tshirts = [(color, size) for size in sizes for color in colors]

In [624]:
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

In [625]:
for tshirts in ((color, size) for size in sizes for color in colors):
    print (tshirts)

('black', 'S')
('white', 'S')
('black', 'M')
('white', 'M')
('black', 'L')
('white', 'L')

In [631]:
kimliks = [('USA', 10477345, 32), ('BRA', 2345567, 35), ('GER', 234345457,27)]

In [636]:
for country, _, age in kimliks:
    print(country, age)

USA 32
BRA 35
GER 27

In [638]:
for country, _, _ in kimliks: ## tuple unpacking
    print(country)

USA
BRA
GER

In [639]:
divmod(20,8)

(2, 4)

In [640]:
t= (20,8)

In [641]:
divmod(*t)

(2, 4)

In [642]:
quotinet, reminder = divmod(*t)

In [645]:
quotinet, reminder

(2, 4)

In [643]:
quotinet

2

In [644]:
reminder

4

In [646]:
a, b, *rest = range(5)

In [648]:
a, b, rest

(0, 1, [2, 3, 4])

In [649]:
a, b, *rest = range(4)

In [650]:
a, b, rest

(0, 1, [2, 3])

In [651]:
a, *body, c, d = range(5)

In [652]:
a, body, c, d

(0, [1, 2], 3, 4)

In [654]:
from collections import namedtuple

In [657]:
City = namedtuple('City', 'name country population coordinates')

In [658]:
tokyo = City('Tokyo', 'JP', 37.8, (35.634, 139.45))

In [659]:
tokyo.coordinates

(35.634, 139.45)

In [660]:
tokyo.population

37.8

In [661]:
tokyo.country

'JP'

In [662]:
City._fields

('name', 'country', 'population', 'coordinates')

In [663]:
delhi_data = ('Delhi', 'IN', 21.345, (32.456, 023.23))

In [664]:
delhi = City._make(delhi_data)

In [665]:
delhi._asdict()

OrderedDict([('name', 'Delhi'),
             ('country', 'IN'),
             ('population', 21.345),
             ('coordinates', (32.456, 23.23))])

In [667]:
for key, value in delhi._asdict().items():
    print (f'{key} : {value}')

name : Delhi
country : IN
population : 21.345
coordinates : (32.456, 23.23)

In [668]:
list1.clear()

In [669]:
list1

[]

In [670]:
list1 = [num for num in range(10)]

In [671]:
list1.__delitem__(2) # 2 burada eleman edegil position olarak

In [672]:
list1

[0, 1, 3, 4, 5, 6, 7, 8, 9]

In [673]:
list1.index(6)

5

In [674]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [690]:
list2 = list(string.ascii_lowercase)

In [692]:
print (list2,) # virgul yan yana yazdirmaya yarar list2 den sonraki virgul veya end=' ' koyabilirsin virgul yerine

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [687]:
list3 = list(map(chr, range(97,123)))

In [688]:
print (list3, end=' ')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [683]:
help(string)

Help on module string:

NAME
    string - A collection of string constants.

MODULE REFERENCE
    https://docs.python.org/3.6/library/string

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Public module variables:

    whitespace -- a string containing all ASCII whitespace
    ascii_lowercase -- a string containing all ASCII lowercase letters
    ascii_uppercase -- a string containing all ASCII uppercase letters
    ascii_letters -- a string containing all ASCII letters
    digits -- a string containing all ASCII decimal digits
    hexdigits -- a string containing all ASCII hexadecimal digits
    octdigits -- a string containing all ASCII octal digits
    punctuation -- a string containing all ASCII punctuation characters
    printable -- a string containing all ASCII characters considered printable

CLASSES
    builtins.object
        Formatter
        Template

    class Formatter(builtins.object)
     |  Methods defined here:
     |
     |  check_unused_args(self, used_args, args, kwargs)
     |
     |  convert_field(self, value, conversion)
     |
     |  format(*args, **kwargs)
     |
     |  format_field(self, value, format_spec)
     |
     |  get_field(self, field_name, args, kwargs)
     |      # given a field_name, find the object it references.
     |      #  field_name:   the field being looked up, e.g. "0.name"
     |      #                 or "lookup[3]"
     |      #  used_args:    a set of which args have been used
     |      #  args, kwargs: as passed in to vformat
     |
     |  get_value(self, key, args, kwargs)
     |
     |  parse(self, format_string)
     |      # returns an iterable that contains tuples of the form:
     |      # (literal_text, field_name, format_spec, conversion)
     |      # literal_text can be zero length
     |      # field_name can be None, in which case there's no
     |      #  object to format and output
     |      # if field_name is not None, it is looked up, formatted
     |      #  with format_spec and conversion and then used
     |
     |  vformat(self, format_string, args, kwargs)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class Template(builtins.object)
     |  A string class for supporting $-substitutions.
     |
     |  Methods defined here:
     |
     |  __init__(self, template)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  safe_substitute(*args, **kws)
     |
     |  substitute(*args, **kws)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  delimiter = '$'
     |
     |  flags = <RegexFlag.IGNORECASE: 2>
     |
     |  idpattern = '(?-i:[_a-zA-Z][_a-zA-Z0-9]*)'
     |
     |  pattern = re.compile('\n    \\$(?:\n      (?P<escaped>\\$)...(?P<brace...

FUNCTIONS
    capwords(s, sep=None)
        capwords(s [,sep]) -> string

        Split the argument into words using split, capitalize each
        word using capitalize, and join the capitalized words using
        join.  If the optional second argument sep is absent or None,
        runs of whitespace characters are replaced by a single space
        and leading and trailing whitespace are removed, otherwise
        sep is used to split and join the words.

DATA
    __all__ = ['ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'cap...
    ascii_letters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    ascii_lowercase = 'abcdefghijklmnopqrstuvwxyz'
    ascii_uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    digits = '0123456789'
    hexdigits = '0123456789abcdefABCDEF'
    octdigits = '01234567'
    printable = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTU...
    punctuation = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    whitespace = ' \t\n\r\x0b\x0c'

FILE
    /Users/serdarbozoglan/anaconda3/lib/python3.6/string.py

In [694]:
print(list2.__mul__(2)) # lsiteryi 2 kere yazdirir

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [695]:
print(list2*2) # ayni sey

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [723]:
list3 = list(map(chr, range(65, 91)))

In [724]:
print(list3)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [735]:
list(map(lambda c:  (c) , list3))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

## PRETTY PRINT (PPRINT)

In [738]:
import pprint
stuff = ['spam', 'eggs', 'lumberjack', 'knights', 'ni']
stuff.insert(0, stuff[:])

In [739]:
print(stuff)

[['spam', 'eggs', 'lumberjack', 'knights', 'ni'], 'spam', 'eggs', 'lumberjack', 'knights', 'ni']

In [740]:
## indent 4 char
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(stuff)

[   ['spam', 'eggs', 'lumberjack', 'knights', 'ni'],
    'spam',
    'eggs',
    'lumberjack',
    'knights',
    'ni']

In [741]:
## 41 char per line without breaking any words
pp = pprint.PrettyPrinter(width=41, compact=True)
pp.pprint(stuff)

[['spam', 'eggs', 'lumberjack',
  'knights', 'ni'],
 'spam', 'eggs', 'lumberjack', 'knights',
 'ni']

In [742]:
tup = ('spam', ('eggs', ('lumberjack', ('knights', ('ni', ('dead',
... ('parrot', ('fresh fruit',))))))))
pp = pprint.PrettyPrinter(depth=6) # depth level is 6
pp.pprint(tup)

('spam', ('eggs', ('lumberjack', ('knights', ('ni', ('dead', (...)))))))