In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings


# NLP
import contractions
from string import punctuation
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
%matplotlib inline

### Importing an image

In [ ]:
from IPython.display import Image
Image("crosstab_cheatsheet.png")

In [ ]:
# Jupyter "magic methods" -- only need to be run once per kernel restart
%load_ext autoreload
%aimport helpers, tests
%autoreload 1

### IGNORING WARNINGS

In [136]:
warnings.filterwarnings('ignore')

In [ ]:
## Running Jupyter Notebook without token 

jupyter notebook --ip='*' --NotebookApp.token='' --NotebookApp.password=''

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## we can see multiple statements at once

In [4]:
?pd.DataFrame()

Object `pd.DataFrame()` not found.

In [9]:
from IPython.core.display import HTML
HTML('<div class="alert alert-block alert-success">Your emission counts look good!</div>')

In [10]:
HTML('<div class="alert alert-block alert-success"><b>Your emission counts look good!</div></b>')

In [4]:
## with markdown

### <div class="alert alert-block alert-success">Your emission counts look good!

In [ ]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')
# to get rid of invalid chars we use ISA-8859-1

In [ ]:
df = pd.read_csv(url, error_bad_lines=False)
## get rid of bad lines

In [ ]:
## use .values for y
y = df['label'].values

### Reading File Names

In [ ]:
import pandas as pd
from pathlib import Path
import time

p = Path("./example_files")
all_files = []
for i in p.rglob('*.*'):
    all_files.append((i.name, i.parent, time.ctime(i.stat().st_ctime)))

columns = ["File_Name", "Parent", "Created"]
df = pd.DataFrame.from_records(all_files, columns=columns)

df.head()

In [115]:
df_raw = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                     header=None, names=headers, na_values="?" )

In [117]:
models = ["toyota","nissan","mazda", "honda", "mitsubishi", "subaru", "volkswagen", "volvo"]
df = df_raw[df_raw.make.isin(models)].copy()

In [119]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
30,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58.0,4800.0,49,54,6479.0
31,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,31,38,6855.0
32,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399.0
33,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,6529.0
34,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,7129.0

### query()

In [121]:
df.query('symboling==2 & make=="honda"') ## tirnak isaretlierine dikkat

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
30,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58.0,4800.0,49,54,6479.0
31,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,31,38,6855.0

### prettypandas

In [133]:
import prettypandas as pp
mini_df = df.query('make=="honda" & bore==2.91')

In [134]:
mini_df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
30,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58.0,4800.0,49,54,6479.0
31,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,31,38,6855.0
32,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399.0
33,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,6529.0
34,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,7129.0
35,0,110.0,honda,gas,std,four,sedan,fwd,front,96.5,...,92,1bbl,2.91,3.41,9.2,76.0,6000.0,30,34,7295.0

In [137]:
mini_df.pipe(pp.PrettyPandas).style.background_gradient()

In [4]:
import pandas as pd
import prettypandas as pp

df = pd.DataFrame([[1,2,3], [4,5,6]], columns=['a','b','c'])

df.pipe(pp.PrettyPandas).as_currency('EUR', subset='b').total().average()

           a    b    c
0        1.0  2.0  3.0
1        4.0  5.0  6.0
Total    5.0  7.0  9.0
Average  2.5  3.5  4.5

### FAST PANDAS OPERATION ==> SWIFTER

In [ ]:
def bikes_proportion(x, max_x):
    return x * 1.0 / max_x
data['bike_prop'] = data['bikes_available'].swifter.apply(
                    bikes_proportion,
                    max_x=np.max(data['bikes_available']))

In [ ]:
def processTweet(tweet):
    #Convert to lower case
    tweet = tweet.lower()
    #Convert www.* or https?://* to URL
    tweet = re.sub('((www\.[\s]+)|(https?://[^\s]+))','URL',tweet)
    #Convert @username to AT_USER
    tweet = re.sub('@[^\s]+','AT_USER',tweet)
    #Remove additional white spaces
    tweet = re.sub('[\s]+', ' ', tweet)
    #Replace #word with word
    tweet = re.sub(r'#([^\s]+)', r'\1', tweet)
    #trim
    tweet = tweet.strip('\'"')
    return tweet

In [ ]:
from sklearn.feature_extraction import text 
my_additional_stop_word_list = ['no', 'not']
stop_words = text.ENGLISH_STOP_WORDS.union(my_additional_stop_word_list)

CV = CountVectorizer(ngram_range=(1,3), decode_error='ignore', stop_words='english')
cv_train = CV.fit_transform(X_train)
cv_test = CV.transform(X_test)

In [ ]:
# Write a function to perform the pre processing steps on the entire dataset
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *

def lemmatize_stemming(text):
    return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))

# First lemmatize then stemming

In [ ]:
with open(os.path.join('data', 'sample_text.txt'), "r") as file:
    text = file.read()
    
## data folderin altindaki sample_text file'ini okur

In [1]:
## Changing a directory of a jupyter notebook

import os
#os.chdir('/Users/serdar/desktop/datascience/26 ChatBot/Travelers') # New Path

In [16]:
# Version check

print(f'pandas:{pd.__version__}')
print(f'seaborn:{sns.__version__}')

pandas:0.24.0
seaborn:0.9.0

### BINNING THE DATA

In [ ]:
bins = np.linspace(min(df['price']),(max(df['price']), 4)
group_names = ['Low', 'Medium', 'High']
df['price-binned'] = pd.cut(df['price'], bins, labels+group_names, include_lowest=True)

### SIMPLE SCALING

In [ ]:
df['price'] = df['price']/max(df['price'])

### ONE-HOT ENCODING with get dummies

In [ ]:
pd.get_dummies(df['gas_type'], drop_first=True)

### REPLACING MISSING WITH MEAN

In [ ]:
avg=df['horsepower'].mean(axis=0)
df['horsepower'].replace(np.nan, avg)

In [113]:
slice=10
for i in range(slice):
    if i ==0:
        print(i*slice, (i+1)*slice)
    else:    
        print((i*slice)+1, (i+1)*slice)

0 10
11 20
21 30
31 40
41 50
51 60
61 70
71 80
81 90
91 100

### TO DataFrame

In [ ]:
df['drive-wheels'].value_counts().to_frame()

### Index Name

In [ ]:
drive_wheels_counts.index.name = 'drive-wheels'

In [106]:
df = pd.DataFrame(np.random.rand(4,5))

In [107]:
df

          0         1         2         3         4
0  0.078332  0.981739  0.153749  0.536963  0.589724
1  0.380372  0.743687  0.162022  0.904419  0.457469
2  0.482465  0.155257  0.698137  0.667887  0.521467
3  0.559729  0.799665  0.109202  0.203445  0.176137

In [108]:
## Son sutuna kadar secme
df.iloc[:, :-1]

          0         1         2         3
0  0.078332  0.981739  0.153749  0.536963
1  0.380372  0.743687  0.162022  0.904419
2  0.482465  0.155257  0.698137  0.667887
3  0.559729  0.799665  0.109202  0.203445

In [109]:
## Son sutunuu secme
df.iloc[:,-1]

0    0.589724
1    0.457469
2    0.521467
3    0.176137
Name: 4, dtype: float64

In [90]:
def slicing_dataset(slice, df):
    dataset_list = []
    for i in range(slice):
        if i == 0:
            X_train = df.iloc[(i*slice):((i+1)*slice), :]
            dataset_list.append(X_train)
        else:
            X_train = df.iloc[((i*slice)+1):((i+1)*slice)]
            dataset_list.append(X_train)
    return dataset_list

### AUTOSAVE

In [32]:
## Autosave in every 30 seconds
%autosave 30

Autosaving every 30 seconds

In [9]:
# Print formating
a = 'Ankara'
b = 'Istanbul' 
c = 'Izmir'
print (a, b)
print(f"{a} {b:.>{14}}")
print(f"{a:>{14}} {b:.>{14}}")
print('{:<12}{:<10}{:<10}'.format(a, b, c))

Ankara Istanbul
Ankara ......Istanbul
        Ankara ......Istanbul
Ankara      Istanbul  Izmir

In [ ]:
# To upgrade all packages at the same time
# ! pip freeze — local | grep -v ‘^\-e’ | cut -d = -f 1 | xargs -n1 pip install -U

In [ ]:
!pip show rasa_nlu # check the version of a pacakge

In [14]:
import sys 
!{sys.executable} -m pip install sh

Collecting sh
  Downloading https://files.pythonhosted.org/packages/4a/22/17b22ef5b049f12080f5815c41bf94de3c229217609e469001a8f80c1b3d/sh-1.12.14-py2.py3-none-any.whl
Installing collected packages: sh
Successfully installed sh-1.12.14

In [ ]:
from geopy import GoogleV3

place = "282 Main Street, Lodi, New Jersey"
location = GoogleV3().geocode(place)

In [ ]:
## FOR VISUALIZATION

params = {'legend.fontsize': 'x-large',
          'figure.figsize': (15, 5),
         'axes.labelsize': 'x-large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'x-large',
         'ytick.labelsize':'x-large'}

plt.rcParams.update(params)
%matplotlib inline

In [ ]:
%config InlineBackend.figure_format ='retina'

# High REsoultion outputs

In [29]:
message = 'This is Serdar'
!echo message

message

In [30]:
!echo $message

This is Serdar

In [31]:
%autosave 30

Autosaving every 30 seconds

In [5]:
# Ask questions and get your answer
!howdoi replace in dataframe pandas

>>> df['BrandName'].replace(['ABC', 'AB'], 'A')
0    A
1    B
2    A
3    D
4    A

In [9]:
!howdoi **kwargs

>>> def print_keyword_args(**kwargs):
...     # kwargs is a dict of the keyword args passed to the function
...     for key, value in kwargs.iteritems():
...         print "%s = %s" % (key, value)
...
>>> print_keyword_args(first_name="John", last_name="Doe")
first_name = John
last_name = Doe

In [21]:
import sh

sh.pwd()
sh.mkdir('Sample Files') # Create a folder
sh.touch('Sample_text.txt') # Create a file
sh.whoami() # print outs the user
sh.echo('hello world')

hello world

In [12]:
import requests
import pprint

url = 'https://randomuser.me/api/?results=1'
users = requests.get(url).json()

In [11]:
print(users)

{'results': [{'gender': 'female', 'name': {'title': 'ms', 'first': 'leah', 'last': 'carlson'}, 'location': {'street': '5864 bollinger rd', 'city': 'port macquarie', 'state': 'western australia', 'postcode': 920, 'coordinates': {'latitude': '-86.1325', 'longitude': '6.5569'}, 'timezone': {'offset': '+10:00', 'description': 'Eastern Australia, Guam, Vladivostok'}}, 'email': 'leah.carlson@example.com', 'login': {'uuid': '81df30be-2b8c-49fb-b715-1a7126f44e93', 'username': 'greenbutterfly680', 'password': 'adrian', 'salt': 'UIVL0S7C', 'md5': '7b348ff863dc60482385e6d7406c23d3', 'sha1': '1f220d6f3d1ee4c7eb2551a3b96c576010d72718', 'sha256': '03b33b347559074424c8c918e5dc8ef93f243062e3fc5c65572295a9abec8f52'}, 'dob': {'date': '1969-05-16T20:10:33Z', 'age': 49}, 'registered': {'date': '2003-11-10T02:00:58Z', 'age': 15}, 'phone': '03-9228-5202', 'cell': '0416-475-589', 'id': {'name': 'TFN', 'value': '847384723'}, 'picture': {'large': 'https://randomuser.me/api/portraits/women/17.jpg', 'medium': 'https://randomuser.me/api/portraits/med/women/17.jpg', 'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/17.jpg'}, 'nat': 'AU'}], 'info': {'seed': 'ad4c386751289b8a', 'results': 1, 'page': 1, 'version': '1.2'}}

In [13]:
pprint.pprint(users)

{'info': {'page': 1,
          'results': 1,
          'seed': 'b32db8e5b914b955',
          'version': '1.2'},
 'results': [{'cell': '0473-791-896',
              'dob': {'age': 68, 'date': '1950-10-01T18:27:18Z'},
              'email': 'carolyn.nichols@example.com',
              'gender': 'female',
              'id': {'name': 'TFN', 'value': '909885589'},
              'location': {'city': 'mildura',
                           'coordinates': {'latitude': '-84.9902',
                                           'longitude': '98.7994'},
                           'postcode': 9775,
                           'state': 'new south wales',
                           'street': '4065 ranchview dr',
                           'timezone': {'description': 'Kabul',
                                        'offset': '+4:30'}},
              'login': {'md5': '59a0db4861c1a3167322ede5d3c08728',
                        'password': 'weiner',
                        'salt': 'COxCyQyp',
                        'sha1': '865efe04cfcbff0cd8a4076a527367f8dc33f8b3',
                        'sha256': '94a70f3c66baff19baec6bb51d7c91dc67fbb5b928cb5e0e29c383b4e7e647fb',
                        'username': 'angrygorilla563',
                        'uuid': '2a7aeb93-b7a6-476a-a4f0-68137f0aedb1'},
              'name': {'first': 'carolyn', 'last': 'nichols', 'title': 'mrs'},
              'nat': 'AU',
              'phone': '09-0688-7149',
              'picture': {'large': 'https://randomuser.me/api/portraits/women/43.jpg',
                          'medium': 'https://randomuser.me/api/portraits/med/women/43.jpg',
                          'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/43.jpg'},
              'registered': {'age': 12, 'date': '2006-02-09T12:39:04Z'}}]}

In [ ]:
!/usr/bin/env python

Python 3.6.5 |Anaconda custom (64-bit)| (default, Mar 29 2018, 13:14:23)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>>

In [27]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
%xmode Plain
%pdb on

# Other modes of xmode Verbose , Context
# %pdb debugger runs after exception

Exception reporting mode: Plain
Automatic pdb calling has been turned ON

In [ ]:
## %timeit line-magic and %%timeit cell-magic

In [2]:
%history -n 1-4

   1:
import sys
!{sys.executable} -m pip install memory_profiler
   2: %history -n 1-4

In [ ]:
# OPTIONS

In [30]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

pd.set_option('display.max_colwidth', -1) # Shows column without truncation

In [ ]:
## READING FILE WITH SKIPPING AND ONLY READ 200 ROWS

In [ ]:
df =pd.read_csv('reviews_data.txt.gz', skiprows=10000, nrows=200, error_bad_lines=False)

In [ ]:
#FOR SEABORN

In [ ]:
plt.style.use('fivethirtyeight')
sns.set_context('notebook') # maybe poster
# sns.set_context('poster', font_scale=0.8)

In [ ]:
flatui = ["#9b59b6", "#3498db"] # guzel renkler
g = sns.PairGrid(df, vars=['age', 'test', 'bid', 'win', 'conversion'],
                 hue='gender', palette=flatui)
g.map(plt.scatter, alpha=0.8)
g.add_legend();

sns.set(rc={'figure.figsize':(15,6)})
sns.countplot(x='bid', hue='gender', data=df, palette=flatui) #palette='Set_1'

## MISSING VALUES TABLE

In [18]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns with missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

## READING A FILE

In [ ]:
with open('whoops.txt', 'r') as mynewfile:
    myvariable = mynewfile.readlines()
    
## This context manager automatically close the file

In [ ]:
## READING WITH CHUNKSIZE

In [ ]:
csv_url='http://bit.ly/2cLzoxH''
# use chunk size 500
c_size = 500
for gm_chunk in pd.read_csv(csv_url,chunksize=c_size):
    print(gm_chunk.shape)

In [ ]:
# FROM STR TO DATETIME

a = datetime.datetime.strptime(df['Date'][0], "%b %d %Y").date()

In [32]:
## CURRENT DIRECTORY

import os
cwd = os.getcwd()
cwd

'/Users/serdarbozoglan/Desktop/DataScience'

In [ ]:

# FROM PDF TO TXT

from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import TextConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
from cStringIO import StringIO


def convert_pdf_to_txt(path):
    rsrcmgr = PDFResourceManager()
    retstr = StringIO()
    codec = 'utf-8'
    laparams = LAParams()
    device = TextConverter(rsrcmgr, retstr, codec=codec, laparams=laparams)
    fp = file(path, 'rb')
    interpreter = PDFPageInterpreter(rsrcmgr, device)
    password = ""
    maxpages = 0
    caching = True
    pagenos=set()

    for page in PDFPage.get_pages(fp, pagenos, maxpages=maxpages, password=password,caching=caching, check_extractable=True):
        interpreter.process_page(page)

    text = retstr.getvalue()

    fp.close()
    device.close()
    retstr.close()
    return text

lone=convert_pdf_to_txt('doc_3Trademark_Transfer_Agreement.pdf')


f=open('xxx.txt','w')
f.write(lone)
f.close()



with open('xxx.txt') as f:
    clean_cont = f.read().splitlines()

In [ ]:
# Advanced CSV loading example
data = pd.read_csv(
        "data/files/complex_data_example.tsv",      # relative python path to subdirectory
        sep='\t'           # Tab-separated value file.
        quotechar="'",        # single quote allowed as quote character
        dtype={"salary": int},             # Parse the salary column as an integer 
        usecols=['name', 'birth_date', 'salary'].   # Only load the three columns specified.
        parse_dates=['birth_date'],     # Intepret the birth_date column as a date
        skiprows=10,         # Skip the first 10 rows of the file
        na_values=['.', '??']       # Take any '.' or '??' values as NA
)

In [ ]:
N = len(y_test)
np.sum(y_pred == y_test)/N

In [1]:
# Figure size ve xticks/yticks boyutu
plt.rcParams['figure.figsize'] = (10,8)
plt.tick_params(labelsize=15)


plt.rcParams['figure.figsize'] =(8,6)
params = {'xticks.font': 16,}
flatui = ["#9b59b6", "#3498db"]

sns.countplot(x ='y', data=df,palette=flatui)
plt.xticks(fontsize=17), plt.yticks(fontsize=17)
plt.xlabel('Target', fontsize=17), plt.ylabel('Count', fontsize=17)
plt.legend(loc='upper right', borderpad=-2)
sns.despine()

In [ ]:
with open('bank.csv', 'r') as file: ## Reads file at once
    print(file.read())

In [ ]:
from itertools import islice # Partial reading from the dataset
with open("bank-full.csv") as myfile:
    head = list(islice(myfile, 5))
print (head)

In [ ]:
def get_dummies(dataset):
    for var in categorical:
        categorical_list = "var"+"_"+var 
        categorical_list = pd.get_dummies(dataset[var], prefix = var,)
        temp_df = dataset.join(categorical_list)
        dataset = temp_df
    
    temp_df_cat_cols = dataset.columns.values.tolist()
    kept_columns = [col for col in temp_df_cat_cols if col not in categorical]
    dataset = dataset[kept_columns]
    return dataset

In [ ]:
plt.subplot(1,2,1)
plt.plot(x,y, 'r')

plt.subplot(1,2,2)
plt.plot(y,x, 'b')

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2)

axes[0].plot(x,y, 'r');
axes[0].set_title('FIRST PLOT')

axes[1].plot(y,x, 'g')
axes[1].set_title('SECOND PLOT')

plt.tight_layout()

In [ ]:
import qgrid
qgrid_widget = qgrid.show_grid(df, show_toolbar=True)
qgrid_widget
df1 = qgrid_widget.get_changed_df()