In [1]:
import pandas as pd 
import numpy as np

In [17]:
df = pd.DataFrame({
    'boolean_column': [True,False,True,False], 
    'integer_column': [1,2,3,4],
    'float_column': [1.,2.,3.,4.],
    'category_column' : ['a','b', 'c', 'd'],
    'string_column':['Ankara', 'Istanbul', 'Izmir', 'Bursa']
})

In [18]:
df['category_column'] = df['category_column'].astype('category')

In [19]:
df

   boolean_column  integer_column  float_column category_column string_column
0            True               1           1.0               a        Ankara
1           False               2           2.0               b      Istanbul
2            True               3           3.0               c         Izmir
3           False               4           4.0               d         Bursa

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
boolean_column     4 non-null bool
integer_column     4 non-null int64
float_column       4 non-null float64
category_column    4 non-null category
string_column      4 non-null object
dtypes: bool(1), category(1), float64(1), int64(1), object(1)
memory usage: 376.0+ bytes

In [21]:
boolean_columns = df.select_dtypes(include=['bool'])

In [22]:
numerical_columns = df.select_dtypes(include=[np.number])

In [23]:
categorical_columns = df.select_dtypes(include=['category'])

In [27]:
string_column = df.select_dtypes(include=['object'])

In [28]:
boolean_columns

   boolean_column
0            True
1           False
2            True
3           False

In [29]:
numerical_columns

   integer_column  float_column
0               1           1.0
1               2           2.0
2               3           3.0
3               4           4.0

In [30]:
categorical_columns

  category_column
0               a
1               b
2               c
3               d

In [31]:
string_column

  string_column
0        Ankara
1      Istanbul
2         Izmir
3         Bursa