In [ ]:
## WRITING JPG FILES

In [1]:
import os, glob

In [2]:
pwd()

'/Users/serdarbozoglan/Desktop/DataScience/13 Python/Python_Tricks'

In [3]:
os.chdir("/Users/serdarbozoglan/Desktop")

In [4]:
for file in glob.glob("*.jpg"):
    print(file)

istanbul-kiz-kulesi.jpg

In [5]:
## FIZBUZZ

In [8]:
for num in range(1, 16):
    if num % 5 ==0 and num % 3==0:
        print ('FIZZBUZZ')
    elif num % 3 ==0:
        print ("FIZZ")
    elif num % 5 == 0:
        print ("BUZZ")
    else:
        print (num)

1
2
FIZZ
4
BUZZ
FIZZ
7
8
FIZZ
BUZZ
11
FIZZ
13
14
FIZZBUZZ

In [10]:
## FIBONACCI SEQUENCE

a, b = 0,1

for i in range(0,10):
    print (a)
    a, b  = b, a + b

0
1
1
2
3
5
8
13
21
34

In [9]:
dict1 = {"key1":10, "key2":20, "key3":30}

for key, value in dict1.items():
    print (f"key is {key} and value is {value}")

key is key1 and value is 10
key is key2 and value is 20
key is key3 and value is 30

In [28]:
## LIST COMPREHENSIONS

In [29]:
even_squares = [num * num for num in range(1,10) if num % 2 == 0]

In [30]:
even_squares

[4, 16, 36, 64]

In [32]:
## GENERATORS (FIBONACCI GENERATORS)

def fib(num):
    a, b = 0,1
    
    for i in range(0, num):
        yield(f"{a}")
        a, b = b, a + b


        
for item in fib(10):
    print (item)

0
1
1
2
3
5
8
13
21
34

In [33]:
9//5

1

In [34]:
9/5

1.8

In [35]:
## FROM STRING TO LIST

In [36]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [37]:
## FROM LIST TO STRING

In [47]:
name = ['s', 't', 'o', 'p']
name_str = ''.join(name)

In [48]:
name_str

'stop'

In [50]:
name = ['s', 't', 'o', 'p']
name_str = '123'.join(name)
name_str

's123t123o123p'

In [51]:
## ENUMERATE

example= ['left', 'right', 'up', 'down']

In [53]:
for index, value in enumerate(example):
    print(index, value)

0 left
1 right
2 up
3 down

In [54]:
new_dict = dict(enumerate(example))

In [55]:
new_dict

{0: 'left', 1: 'right', 2: 'up', 3: 'down'}

In [56]:
## GENERATORS

def square_numbers(num):
    for i in num:
        yield i*i

my_numbers = square_numbers(range(10))
for item in my_numbers:
    print(item)

0
1
4
9
16
25
36
49
64
81

In [57]:
from collections import defaultdict

In [58]:
d = defaultdict(int) 
## default int is 0

In [59]:
my_string = "ankara"
for c in my_string:
    d[c] +=1

In [60]:
d

defaultdict(int, {'a': 3, 'n': 1, 'k': 1, 'r': 1})

In [62]:
d['X']

0

In [ ]:
##LAMBDA

In [64]:
(lambda x, y : x + y)(3,4)

7

In [65]:
max_my = (lambda x, y : x if x>y else y)(10,29)

In [66]:
max_my

29

In [67]:
## MAP

In [68]:
my_list = [4,3,2,1]

In [69]:
n = list(map(lambda x: x**2, my_list))

In [70]:
n

[16, 9, 4, 1]

In [71]:
## LIST COMP

In [72]:
my_squared_list = [x**2 for x in list([4,3,2,1])]

In [73]:
my_squared_list

[16, 9, 4, 1]

In [78]:
n = [4,3,2,1]
    
over_2_list = list(filter(lambda x: x>2, n))
over_2_list

[4, 3]

In [80]:
from functools import reduce

In [85]:
n = [4,3,2,1]
my_list = reduce(lambda x, y: x*y, n)

In [89]:
my_list

24